.header{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.input{
    display: flex;
    justify-content: center;
    border-radius: 100px;
    padding: 20px;
    
}

#text{
    margin-right: 5px;
}

#add{
    margin-left: 5px;
}

.list{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.item{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    
}



